
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-top: 40px; 
  padding: 0 20px;
 
}

